#bb1{
    /* border: 1px solid gray; */
    color: aqua;
    background-color: rgb(201, 201, 201);
    height: 90px;
    
    
}

#bb1_child{
    height: 60px;


}
#c1,#c2,#c3,#c4,#c5{
    padding: 1.4rem;
    background-color: white;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    

}
#c2,#c3,#c4,#c5{
    padding: .3rem;
}



/* 
.child{
    background-color: #2041d3;
  } */
/* #b1{
    border: 1px solid blue;
    background-color: yellow;
    height: 50px;
} */
/* [class*="col"]{
        padding: 1rem;
        background-color: #33b5e5;
        border: 2px solid #fff;
        color: #fff;
        /* height: 60px; */
        /* left: 70px; */
        /* justify-content: center; */
